body{
	font-family: Times New Roman, sans-serif	;
}

section{
	display: flex;
	align-items: center;
	justify-content: center;
}

img{
	width: 	100px;
	margin-right: 	20px;
}

.content{
	text-align: center;
	margin-top: 20px;


}

h3 span, .main{
	text-transform: uppercase;
	font-weight: bold;
}

.main{
	text-align: center;
	letter-spacing: 2px;
	margin-left: 90px;
	margin-top: 20px;
}

